
.circle {
    height: 100px;
    width: 100px;
    background-color: orangered;
    border-radius: 50%;
    display: inline-block;
}
.square {
    height: 100px;
    width: 100px;
    background-color: mediumpurple;
}



